/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('./background_image1.webp');
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fix the image in place */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* About Us Page Specific Styles */
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 1.2em;
    line-height: 1.6;
}
.search-box {
    width: 250px; /* Increase the width as needed */
    height: 1px; /* Increase the height as needed */
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Social Media Icons */
.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.social-media a:hover {
    color: #0073e6;
}