/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('./background_image1.webp');
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fix the image in place */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;    
}

/* navigation styling */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: .5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    justify-content: center;
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-content: space-around;
    color: white;
    text-decoration: none;
    padding: 7px 20px;
}

nav ul li a:hover {
    background-color: #575757;
}
li:first-of-type {
    margin-right: auto;
}
li:nth-child(5) {
    margin-left: auto;
}

main {
    color: white;
    padding: 20px;
    display: in;
    font-size: 2em;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}
/* home page search bar and buttons */
.search {
    float: right;
    align-items: baseline;
}
/* about and contact us nav bar */
.center-nav {
    display: flex;
    justify-content: center;
}
/* push search bar button and clear button to right */
.push-right {
justify-content: end;
}

/* About Us Page Specific Styles */
.about-container {
    margin: 1 auto;
    padding: 20px;
    align-content: center;
}

/* team member styling */
.team-section {
    display: flex;
    margin: 30px;
    padding: 10px;
}

.team-section h2 {
    margin-right: 20px;
}

.team-members {
    justify-content: space-around;
}

.team-member {
    margin-bottom: 10px;
    font-size: smaller;
    background-color: #333;
    border: 1px solid black;
    opacity: 0.95;
    padding: 40px;
}

/* contact Us Page Specific Styles */
textarea {
    width: 99%;
}
/* styling form elements */
.contactForm  { display: table;      }
label { display: table-cell; }
input { 
    display: table-cell; 
    width: 99%;
    color: white;
}

.contact-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 15px;
    background-color: #333;
    opacity: .9;
}

.contact-container h1 {
    font-size: 2em;
}

.contact-container p {
    font-size: 1.2em;
    line-height: .5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.search-box {
    width: 380px; /* Increase the width as needed */
    height: 1px; /* Increase the height as needed */
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
}
#btnSearch {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: #CC5500;
    width: 60px;
    margin-left: -120px;
    
}

#btnClear {
    color: white;
    padding: 5px;
    width: 60px;
    border-radius: 10px;
    background-color: #CC5500;
}

#btnBookNow {
    background-color: #CC5500;
    font-size: x-large;
    margin-left:  0px;
    padding: 7px;
    border-radius: 10px;
}

/* Social Media Icons */
.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.social-media a:hover {
    color: #0073e6;
}

input[type=submit] {
    width: 99%;
    height: 40px;
    background-color: #CC5500;
}

div.transbox {
    margin: 30px;
    background-color: #333;
    border: 1px solid black;
    opacity: 0.9;
    width: 40%;
  }

div.transbox p {
    margin: 30px;
    color: #ffffff;
    width: 40%;
  }

/* about us transbox */
div.transboxAbout {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border: 1px solid black;
    opacity: 0.9;
  }
